.calculate{
    background-color: blanchedalmond;
    font-size: 20px;
    width: 300px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    
    box-shadow: 3px 3px 7px rgb(17, 14, 223);

}
.calculate:hover{
    cursor: pointer;
    background-color: lightblue;
    color: darkblue;

    
}
.calculate h1:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s;
    color:brown;
}
#buttons button{
    color: blue;
    font-size: 20px;
    border-radius: 60px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    

}
#buttons button:hover{
    transform: scale(1.2);
    transition: all 0.2s;
    box-shadow: 3px 3px 7px brown;
    background-color: lightgreen;

}
#display{
    font-size: 20px;
    color: rgb(252, 252, 252);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;


}
#delet{
   
    background-color: red !important;

    
}
#clean{
   
    background-color: rgb(244, 2, 2) !important;
    color: white !important;
    font-size: 20px;
    border-radius: 60px;
    margin: 5px;
    padding: 10px;
}
#clean:hover{
    transform: scale(1.2);
    transition: all 0.2s;
    box-shadow: 3px 3px 7px brown;
    background-color: darkred;


}
